.intro__wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--extra-color);

}

.intro__title {
    font-size: 50px;
    font-weight: 500;
    color: #d52929;

}

.intro__subtitle {
    font-size: 30px;
    font-family: var(--font-family-secondary), sans-serif;

    @media screen and (max-width: 720px) {
        font-size: 22px;
    }
}

.intro__paragraph {
    color: #d52929;
    margin-top: 100px;

    font-size: 72px;

    @media screen and (max-width: 720px) {
        font-size: 52px;
    }
}

.intro__icon {
    margin-top: 50px;
    font-size: 42px;
}