@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kurale&display=swap');

:root {
    --primary-color: #fefefe;
    --secondary-color: rgb(231,231,231);
    --extra-color: #2a2a2a;
    --font-family-main: "Great Vibes", cursive;
    --font-family-secondary: "Kurale", serif;
}

body , html {
    background: var(--primary-color);
    font-family: var(--font-family-main), serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        max-width: 720px;
    }

    @media screen and (max-width: 720px) {
        font-size: 28px;
        padding: 0 10px;
    }
}

.delimiter {
    margin: 0 20px;

    &-5 {
        margin: 0 5px;
    }

    &-10 {
        margin: 0 10px;
    }
}

.img_box {
    width: 100%;
    max-width: 320px;
    height: auto;

    @media screen and (max-width: 1000px) {
        max-width: 320px;
    }

    @media screen and (max-width: 1000px) {
        max-width: 320px;
    }


}

.img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;

}