.timeline__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timeline__wrapper__block__img {
    @media screen and (max-width: 500px) {
        margin-bottom: 20px;
    }
}

.timeline__wrapper__block {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;

    & > * {
        width: 50%;
    }

    @media screen and (max-width: 500px) {
        flex-direction: column;
        margin-bottom: 50px;

        & .remove_img {
            display: none;
        }
    }
}

.timeline__wrapper__block__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.middle {
        margin: 0 auto;

        & p {
            font-size: 22px;
            width: 100%;

            @media screen and (max-width: 500px) {
                font-size: 18px;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 500px) {
        width: 100%;
    }
}

.timeline__wrapper__block__content__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
    color: #d52929;

    &.middle {
        margin: auto 0;
        align-self: center;
        justify-self: center;
    }

    @media screen and (max-width: 500px) {
        margin-bottom: 20px;
    }
}

.timeline__wrapper__block__content__description {
    font-family: var(--font-family-secondary),sans-serif;
    margin-bottom: 10px;
    text-align: center;
    width: 350px;
    
    @media screen and (max-width: 720px) {
        width: auto;
        font-size: 18px;

        &.middle {
            font-size: 18px;
        }
    }
}

.timeline_end {
    width: 100%;
}